<div align="center">
<table id="signup">
  <tr>
    <th colspan="2"><h2>Sign Up</h2></th>
  </tr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <tr>
   <td><%= f.label :email %></td>
   <td><%= f.email_field :email, :autofocus => true %></td>
  </tr>
  <tr>
   <td><%= f.label :name %> </td>
   <td><%= f.text_field :name %></td>
  </tr>
  <tr>
   <td><%= f.label :password %></td>
   <td><%= f.password_field :password %></td>
  </tr>
  <tr>
   <td><%= f.label :password_confirmation %></td>
   <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
   <td><%= f.label :birth_date %></td>
   <td><%= f.date_select :birth, :start_year => 1900, :end_year => Time.now.year %></td>
  </tr>
  <tr>
   <td><%= f.label :timezone %></td>
   <td><%= f.time_zone_select  :timezone, nil, :default => 'Eastern Time (US & Canada)' %></td>
  </tr>
  <tr>
   <td><%= f.label :invitation %></td>
   <td><%= f.text_field :invitation, :value => @invitation %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.submit "Sign up", :class => 'btn' %>
    </td>
  </tr>
<% end %>

</table>
</div>