<div class='left-margin'>
<%= label :calendar, 'Name'  %>
<%= text_field :calendar, 'title' %><br />
<%= datetime_select :calendar, 'date' %><br />
<%= label :calendar, 'Details' %>
<%= text_area :calendar, 'text', :class => 'text-area-calendar' %>
<br />
<%= submit_tag 'Save', :class => 'btn' %>
<%= link_to 'Cancel', :calendar_index, :class => 'btn btn-danger' %>
</div>