<%= render :partial => 'feed/menu' %>

<div>
  <%= render 'left_menu' %>
<div class='left-margin span12' style="padding-top: 30px">
  <div align='right' style='margin-bottom: -50px;'>
    <%= link_to 'New Event', :calendar_new, :class => 'btn btn-primary' %>
  </div>
<div align='left'>
  <%= calendar @events do |event| %>
      <div><%= link_to event.title, event %></div>
  <% end %>
</div>
</div>
    </div>
