<%= render :partial => 'feed/menu' %>
<div class="left-margin">
  <h1><%= @event.title %></h1>
  <small>On: <%= @event.date %></small>
  <br />
  <br />
  <%= @event.text %>
  <br /><br />

  <%= link_to 'Back', :calendar_index, :class => 'btn' %>
</div>