<%= render :partial => 'feed/menu' %>

<div>
  <%= render :partial => 'calendar/left_menu' %>
  <div class="span12 calendar-show">
    <h1><%= @event.title %></h1>
    <small>On: <%= @event.date %></small>
    <br />
    <br />
    <%= @event.text %>
  </div>
</div>