<%= render :partial => 'feed/menu' %>

<div class="hero-unit">
   <h2><%= t '.add_an_user' %></h2>
   <p><%= t '.add_or_invite' %></p>
   <p>
      <%= form_tag({:action => 'create'}, :method => :post) %>
      <%= label :email, 'Email' %>
      <%= text_field :users, 'email' %>
   </p><p>
   <%= submit_tag t('.add_user'), :class => 'btn' %></p>
</div>