<div class="post">
   <b><div class='icon-user'></div><%= link_to "  " + post.user.name, show_all_map_path(post.user.id) %></b><br />
   <%= post.text.html_safe %> <br />
   <div class="date"><% if post.checkin %>
      near <%= link_to post.checkin.gmaps4rails_address, map_path(post.checkin.id) %>,
   <% end %>
   <%= post.created_at  %></div>
   <%= link_to '  Comment', new_comment_path(:post => post.id), :remote => true, :class => 'icon-comment-alt' %> 
   <% if post.comments != [] %>
      
      <div class='comments'>
      <% post.comments.each do |c| %>
	 <div class='comment'>
	    <b><div class='icon-reply'></div><%= "  " + c.user.name %></b><br />
	    <%= c.text %> <br />
	    <div class="date"><%= c.created_at  %></div>
	 </div>
      <% end %>
      </div>
   <% end %>
   <div class="new-comment" id="<%= "new-c#{post.id}" %>"> </div>
</div>