<%= render :partial => 'feed/menu' %>

<div>
  <%= render :partial => 'calendar/left_menu' %>
  <div class='span12'>
<div class="add-task">
   <%= render 'form' %>
</div>

<div class="tasks">
   <ul class="new-tasks unstyled">
      <% @new.each do |task| %>
	 <li class="task">
	    <div class="row-fluid">
	       <div class="task-checkbox">
		  <%= link_to (check_box_tag "new", task.id, false, :class => 'task-checkbox'), todo_path(task.id), :method => :put %>
	       </div>
	       <div class="task-text" >
		  <%= task.text %>
		  <%= link_to "Delete", todo_path(task.id), :class => "btn-small btn-danger task-destroy", 
		     :method => :delete, :confirm => "Are you sure?" %>
	       </div>
	    </div>
	    </li>
      <% end %>
   </ul>
</div>

<h3 style="margin-left:10px;">Done</h3>
<div class="tasks">
   <ul class="new-tasks unstyled">
      <% @done.each do |task| %>
	 <li class="task">
	    <div class="row-fluid">
	       <div class="task-checkbox">
		  <%= link_to (check_box_tag "new", task.id, true, :class => 'task-checkbox'), todo_path(task.id), :method => :put %>
	       </div>
	       <div class="task-text" >
		  <%= task.text %>
		  <%= link_to "Delete", todo_path(task.id), :class => "btn-small btn-danger task-destroy", 
		     :method => :delete, :confirm => "Are you sure?" %>
	       </div>
	    </div>
	    </li>
      <% end %>
   </ul>
</div>
   </div></div>
