<!DOCTYPE html>
<html>
<head>
  <title>FamilyFeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
<div class="navbar-inner">
<a class="brand" href="/">FamilyFeed</a>
<%= yield :menu %>
</div>
</div>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert" id="alert"><%= alert %></p>


</body>
</html>
